<!--    {% for address in addresses %}-->
<!--        <div class="address">-->
<!--            <div class="date">-->
<!--                {{ post.published_date }}-->
<!--            </div>-->
<!--            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>-->
<!--            <img src="{{ post.cover.url}}">-->
<!--            <div class="text_hide_wrap">-->
<!--                <div class="item_text">-->
<!--                <p>{{ post.text|linebreaksbr }}</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <a href="{% url 'post_detail' pk=post.pk %}" style="color: #828282" >Comments: {{ post.approved_comments.count }}</a>-->
<!--        </div>-->
<!--    {% endfor %}-->